@import "~roboto-fontface/css/roboto/roboto-fontface";
@import "~bootstrap/dist/css/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~ionicons/dist/scss/ionicons";
@import "~nouislider/distribute/nouislider.min";
@import "player.scss";